footer {
    max-width: 1400px;
    margin: 0 auto;
    ul {
        display: flex;
        justify-content: start;
        padding-left: 0;
        padding-top: 50px;
        @media (min-width: 1200px) {
            padding-left: 60px;

        }
        li {
            margin: 0 5px;
        }
    }

    section.copyright {
        p {
            text-align: center;
            padding-top: 50px;
            color: #33333380;
            border-top: solid 0.5px;
            margin: 30px 0
        }
    }
}
