header {
	display: flex;
	align-items: center;
    justify-content: flex-end;
	margin-top: 15px;
	margin-bottom: 15px;

	.postula-ahora-header {
		@media (min-width: 1200px) {
			display: block;
		}

		a {
			@include postulate-link;
		
		}
	}
}
