header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 15px;

	.postula-ahora-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		a {
			@include postulate-link;
			margin: 0;
		}
	}
}
