header {
	display: flex;
	align-items: center;
    justify-content: flex-end;
	margin-top: 15px;
	margin-bottom: 15px;

	.postula-ahora-header {
		display: none;
		@media (min-width: 1200px) {
			display: block;
		}

		a {
			@include postulate-link;
		
		}
	}
}
.logo-impaqto {
	width: 73px;
	margin-bottom: -8px;
}
.logo-idea {
	height: 45px;
}
