/**
 * Main Styles for site.
 */

// sass main.scss ../style.min.css --style=compressed
// sass --watch main.scss:../style.min.css --style=compressed

$theme-blue : #0066ff;
$theme-black: #333333;
$theme-green: #c1edcc;
$theme-pink : #f5beae;

$breakpoint-hamburger : 768px;

@import "normalize";
@import "fonts";
@import "skeleton";
@import "header";
@import "footer";


// tamaños imgs

// <a href="https://iniciativaidea.org/" target="_blank">
// <picture>
//     <!-- Desktop -->
//     <source media="(min-width:1200px)" srcset="img/logo@2x.png" alt="logo-idea">
//     <!-- Mobile  -->
//     <img src="img/logo.png" alt="logo-idea">
// </picture>
// </a>